.pagination-wrapper {
  margin-top   : 22px;
  margin-bottom: getSpacing('10x');

  .pagination {
    display        : flex;
    justify-content: flex-end;

    @include e(btn) {
      font-weight: getFontWeight('normal');;
      border     : 1px solid $gray-75;

      &.prev {
        border-top-right-radius   : 0px;
        border-bottom-right-radius: 0px;
      }

      &.next {
        border-top-left-radius   : 0px;
        border-bottom-left-radius: 0px;
      }

      &:hover {
        background-color: $gray-25;
      }

      &:disabled {
        opacity: 0.6;
        background-color: getColor('gray.75');
        color           : getColor('gray.100');
      }
    }
  }
}
