.table-wrapper {
  position   : relative;
  display    : block;
  width      : 100%;
  margin-top : 24px;

  .table {
    overflow: auto;
    border  : 0;

    @include e(col) {
      position     : relative;
      padding      : 15px 0px 15px 8px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      height: 50px;

      @include m(head) {
        padding       : 7px 8px;
        font-weight   : getFontWeight('bold');
        @include getFontSize('small');
        text-transform: uppercase;
        height: 30px;
      }
    }

    @include e(row) {
      outline: 0;
      cursor : pointer;

      &:hover{
        background-color: lighten($color: $gray-50, $amount: 4);
      }
    }
  }
}
