.spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;

  .spinner {
    width             : 40px;
    height            : 40px;
    margin-right      : 8px;
    border-radius     : 50%;
    border-top-color  : transparent;
    border-left-color : transparent;
    border-right-color: transparent;
    box-shadow        : 2px 2px 1px $primary-blue;
    animation         : spin 690ms infinite linear;
    -o-animation      : spin 690ms infinite linear;
    -ms-animation     : spin 690ms infinite linear;
    -webkit-animation : spin 690ms infinite linear;
    -moz-animation    : spin 690ms infinite linear;
  }

  @include m(small) {
    .spinner {
      width     : 20px;
      height    : 20px;
      box-shadow: 2px 2px 1px white;
    }
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes spin {
  100% {
    -o-transform: rotate(360deg);
    transform   : rotate(360deg);
  }
}

@-ms-keyframes spin {
  100% {
    -ms-transform: rotate(360deg);
    transform    : rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform        : rotate(360deg);
  }
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
    transform     : rotate(360deg);
  }
}
